# Basic Python for data science

<div class="alert alert-block alert-info">
<b>Tip:</b> พวก basic syntax ผมไม่ได้เอามานะครับ เอาเฉพาะสิ่งที่ผมไม่รู้ พวก tuple หรือ numpy
</div>

### Print

In [11]:
#คล้าย js ใช้ , คั่นได้
name = "Tanny"
age = 20
is_single = True
print("|name:", name,"|age:", age, '|single:', is_single)

|name: Tanny |age: 20 |single: True

#อีกเเบบ ใช้ f เเล้วใช้ bracket เเทนตัวเเปร
name = "Tanny"
age = 20
status = "single"
print(f"My name is {name}. I'm {age} years old. I'm still {status}.")

In [57]:
#ทศนิยม 2 ตำเเหน่ง ใช้ :.2f ร่วมกับ format()
a = 2.5678
b = 3.789
print("a = {:.2f}, b = {:.2f}".format(a, b))
print("a = {}, b = {}".format(a,b))

a = 2.57, b = 3.79
a = 2.5678, b = 3.789

In [25]:
#ใช้ % เเทน format() เเล้วนำมาทำงานร่วมกับ %s (string) %d (integer) %.2f (float 2 decimal place)
a = 2.5678
b = 3.789
c = "Hello"
print("a = %d, b = %.2f, c = %s" % (a,b,c))

a = 2, b = 3.79, c = Hello

### Lambda

In [28]:
#เป็นฟังชั่นขนาดย่อที่จะคืนค่ากลับมาให้ตัวเเปรโดยไม่ต้อง return
#syntax -> variable = lambda argument: expression
rectangle_area = lambda width, height: width * height
print("The area is",rectangle_area(20, 5))
print("The area is",rectangle_area(5, 4))

The area is 100
The area is 20

### Tuple

In [32]:
#เหมือน list เเต่เเก้ไขค่าไม่ได้
set_num = 1,2,3,4,5,6,7
print(type(set_num))
print(set_num)
for num in set_num[:2]:
    print(num)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7)
1
2

### Dictionary

In [39]:
#Key-value pairs ถ้าเทียบกับ js ก็คือ ข้อมูลเเบบ object
employee1_info = {"name": "Tanny", "age": 20, "salary": 200}
print(type(employee1_info))
print(employee1_info)
print(employee1_info["name"])#print valueโดยใช้ key

<class 'dict'>
{'name': 'Tanny', 'age': 20, 'salary': 200}
Tanny

### Dictionary with List and Tuple

In [56]:
list_of_employees = [{"name": "Tanny", "age": 20, "salary": 200},
                    {"name": "earth", "age": 50, "salary": 300},
                    {"name": "arny", "age": 23, "salary": 100},
                    {"name": "fam", "age": 19, "salary": 200}]
print(list_of_employees[2])
print(list_of_employees[2]["name"])
print(list_of_employees[0])
print(list_of_employees[0]["salary"])
#ใช้ {:num} จองพื้นที่อักขระให้กับชื่อ เเล้วทำการวนลูป ชื่อเเละเงินเดือน
print("เเบบดั้งเดิม")
for em in list_of_employees:
    print(em['name'], em['salary'])

print("เเบบจองพื้นที่")
for em in list_of_employees:
    print("{:7}{}".format(em["name"], em["salary"]))

{'name': 'arny', 'age': 23, 'salary': 100}
arny
{'name': 'Tanny', 'age': 20, 'salary': 200}
200
เเบบดั้งเดิม
Tanny 200
earth 300
arny 100
fam 200
เเบบจองพื้นที่
Tanny  200
earth  300
arny   100
fam    200

### Module

In [60]:
#เพิ่มเติมนิดหน่อย ถ้าเขียนในIDEปกติ จะมีการเขียนเเยกหลายไฟล์ ให้ใช้ from (file) import (variable or function) เพื่อที่จะได้นำตัวเเปลมาใช้เลย
#เช่น from math import sum ก็จะสามารถนำ sum มาใช้ได้เลย
#เเต่ถ้าใช้อิมพอร์ตปกติมันจะต้องใช้ . ด้วย เช่น math.sum

import numpy as np
set_num = [232, 343, 343, 123, 256]
print("Mean of set_num =",np.mean(set_num))

Mean of set_num = 259.4